table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
   padding: 5px;
   text-align: center;
}

tr:hover{
     cursor: pointer;
}

#competitionContent{
     float: left;
     margin: 10px;
    
}

#rakingContent{
     float: left;
     margin: 10px;
    
}

#teamContent{
     float: left;
     margin: 10px;
}
h1{
     text-align: center;
}